body {
    margin: 20px;
    font-family: Arial, sans-serif;
    transition: 0.4s;
}

header {
    text-align: left;
}

img {
    width: 15%;
    border-radius: 10px;
}

.map-container {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;     
  margin-left: 0;
  margin-right: auto;  
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

.moods {
    display: flex;
    gap: 8px;           /* Зменшуємо проміжок, щоб звільнити місце для самих фото */
    flex-wrap: nowrap;   /* Забороняємо перенос сторінки */
    width: 100%;         
}

.moods img {
    /* Розрахунок: кожна картинка займає 33.3% ширини мінус проміжки */
    width: calc(33.333% - 6px); 
    
    aspect-ratio: 3 / 4; /* Однаковий вертикальний формат для всіх */
    object-fit: cover;   /* Рятує від деформації обличчя через різні розміри файлів */
    border-radius: 6px;
}

table {
    width: 40%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    font-size: 14px;
    padding: 6px 8px;
}

.slide {
    width: 100%;
    max-width: 400px;
    display: none;
}

.light-theme {
    background: #DEF;
    color: black;
}

.light-theme table {
    background: white;
}

.dark-theme {
    background: #124;
    color: white;
}

.dark-theme a {
    color: #6CF;
}

.dark-theme table {
    background: black;
}

.dark-theme th,
.dark-theme td {
    border-color: white;
}

.theme-btn {
  margin-top: 24px;
  background-color: #39F;
  color: white;
  border: none;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  
  /*cursor: pointer;
  transition: background-color 0.2s ease;*/
}

.theme-btn:hover {
  background-color: #039;
}